<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nhpatt.androidkata.activity" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity"/>
        <activity android:name=".AirplaneModeActivity"/>


        <receiver android:name="com.nhpatt.androidkata.receiver.OtherReceiver">
            <intent-filter>
                <action android:name="com.nhpatt.OtherReceiver"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.nhpatt.androidkata.receiver.AirplaneModeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
